.form-container {
    display: flex;
    flex-direction: column;
}
.input-field {
    margin: 8px 0;
    height: 30px;
}
.add-button {
    float: right;
    background-color: #b8b8ff;
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.add-button:hover {
    background-color: #9381ff;
}
.add-button:active {
    background-color: #b8b8ff;
}