* {
    box-sizing:  border-box;
    font-family: 'Arimo', sans-serif;
}
.row {
    width: 50%;
}
.main-container {
    display: flex;
    flex-direction: row;
}
.data-container {
    display: flex;
    flex-direction: column;
}
.chart-container {
    background-color: #f8f7ff;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}
.input-container {
    border-radius: 20px;
    padding: 24px;
    margin: 24px;
    background-color: #f8f7ff;
}
.expenses-container {
    border-radius: 20px;
    padding: 24px;
    margin: 24px;
    background-color: #f8f7ff;
}
.expense {
    overflow-y: scroll;
    height: 600px;
}
.expense::-webkit-scrollbar { width: 0 !important }
.filter {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px){
    .main-container {
        flex-direction: column;
    }
    .row {
        width: 100%;
    }
    .chart-container {
        flex-direction: column;
    }
}